* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("../img/background2-01.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  margin: 40px;
  margin-left: -1350px;
  padding: 10px -40%;
}

.first {
  display: flex;
  /* align-items: stretch; */
  margin: 15px;
}

i {
  font-size: 80px;
  color: #FDB714;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -250%);
}

.box {
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100px;
  width: 60%;
  position: relative;
  top: 25%;
  left: 0;
  margin: auto;
  margin-top: -100px;
}

h1 {
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

h3 {
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 16px;
  margin-bottom: 30px;
}

p {
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 55px;
  margin-right: 55px;
}

a {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  color: #FDB714;
  display: block;
}

.newLink:hover {
  color: #253C80;
  font-weight: 600;
  font-size: 11px;
  display: block;
}

.back {
  margin-top: 40px;
  display: block;
  display: inline-block;
  border: 3px #FDB714 solid;
  padding: 8px 8px;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  color: #FDB714;
  text-decoration: none;
}

.back:hover {
  color: #253C80;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
