* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

.container {
  background-image: url("../img/background2-01.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

#hole {
  align-items: center;
  text-align: center;
  color: #FDB714;
  font: 100px 'Montserrat', sans-serif;
  font-weight: 800;
}

/* .first {
  display: flex;
  align-items: stretch;
  margin: 15px;
} */

.logo {
  align-self: center;
  margin: 40px;
}

.title {
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
}

body {
  font: 16px 'Montserrat', sans-serif;
  color: #253C80;
  min-height: 100vh;
  width: 100%;
}

.body-header {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-text {
  text-align: center;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: -50px;
  margin-bottom: 40px;
}

.points {
  text-align: center;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: -30px;
  margin-bottom: 40px;
}

#status {
  flex-grow: 0;
  display: inline-flex;
  padding: 15px 50px;
  text-align: center;
  border-radius: 10px;
  margin: 70px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #253C80;
  color: white;
  text-decoration-line: none;
}

.reset-btn {
  flex-grow: 0;
  display: inline-flex;
  padding: 15px 50px;
  text-align: center;
  border-radius: 10px;
  margin: 70px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #253C80;
  color: white;
  text-decoration-line: none;
}

.reset-btn:hover {
  position: relative;
  background-color: #FDB714;
  color: #253C80;
  font-weight: 800;
}

.content {
  margin: 18px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 8rem 8rem 8rem;
}

.box {
  border: solid 2px #253C80;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  text-align: center;
  user-select: none;
}

/* choice for choosing if X or O */
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  margin: 8px;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #253C80;
}

.modal {
  padding: 6vw;
  background: white;
  color: #253C80;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.30), 10px 8px 10px 0 rgba(255, 255, 255, 0.30);
}

.modal .head h3 {
  color: #115511;
  font-weight: 300;
  line-height: 2rem;
}

.modal button {
  padding: 6px 35px;
  background: #253C80;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 22px;
  margin: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal button:hover {
  position: relative;
  background-color: #FDB714;
  font-weight: 800;
  color: #253C80;
}

.none {
  display: none;
}

.primary {
  animation: blink 0.3s ease infinite;
}

@keyframes blink {
  from {
    background: #253C80;
  }

  to {
    background: #FDB714;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 7px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
