.container {
  background-image: url("../img/background-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.yellowBck {
  background-color: #FDB714;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  padding: 14px 0;
  height: 400px;
  width: 30%;
  position: relative;
  top: 40%;
  left: 0;
  margin: auto;
  margin-top: -100px;
}

.logo {
  align-self: center;
  margin: 40px;
}

.userInfo {
  left: 5%;
  position: relative;
  text-align: center;
  display: inline-block;
  display: block;
}

.login {
  left: 5%;
  position: relative;
  text-align: center;
  display: inline-block;
  display: block;
}

input {
  display: block;
  width: 80%;
  padding: 8px 0;
  border-radius: 7px;
  margin: 10px;
}

input[type="text"], [type="password"] {
  border: 3px #253C80 solid;
  background: transparent;
  padding-left: 12px;
}

input[type="submit"] {
  background-color: #253C80;
  color: #FDB714;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

::placeholder {
  padding-left: 0;
  color: #253C80;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
}

a {
  position: relative;
  display: block;
  margin: 10px;
  font-size: 9px;
  color: #253C80;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration-line: none;
}

a:hover {
  position: relative;
  color: white;
  font-size: 10px;
}

.login {}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
