.container {
  background-image: url("img/background2-01.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  text-align: center;
}

.gameContainer > .yellow {
  background-color: yellow;
  color: white;
  padding: 20px;
  font-size: 48px;
}

.gameContainer > .blue {
  background-color: blue;
  color: white;
  padding: 20px;
  font-size: 48px;
}

.gameContainer > .gray {
  background-color: gray;
  color: purple;
  padding: 24px;
  font-size: 24px;
}

.gameContainer > div {
  border: 2px solid blue;
  border-radius: 25px;
  background-color: lightgray;
  padding: 35px;
  color: green;
}

.first {
  display: flex;
  align-items: stretch;
  margin: 15px;
}

.logo {
  align-self: center;
  margin: 40px;
}

.title {
  align-self: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #253C80;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

#gameGrid {
  padding: 0px;
  margin: 0 auto;
  margin-top: 100px;
}

#gameGrid tr td {
  width: 120px;
  height: 120px;
  border: 5px solid #253C80;
  text-align: center;
}

/* #gameGrid tr td:hover {
  background: #e4e4e4;
  cursor: pointer; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
