.container {
  background-image: url("img/background-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.intro {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.welcome {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

#start {
  display: block;
  border: 3px;
  padding: 14px 0;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration-line: none;
  margin: 10px;
}

#options {
  display: block;
  border: 3px;
  padding: 14px 0;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration-line: none;
  margin: 10px;
}

#about {
  display: block;
  border: 3px;
  padding: 14px 0;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration-line: none;
  margin: 10px;
}

a:hover {
  position:relative;
  background-color: #FDB714;
  color: #253C80;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 8px;
  text-transform: uppercase;
  color: white;
}
